<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글</title>

    <style>
        .clearfix::after{
            clear: both;
            content: "";
            display: block;
        }
        .comment-left{
            float:left;
            width: 20%;
        }

        .write-comment{
            width:70%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#like").click((e) => {
                /*<![CDATA[*/
                var userId = [[${userId}]];
                /*]]>*/

                $.ajax({
                    type:"POST",
                    url: location.pathname + "/like",
                    data:{
                        likeUser : userId
                    },
                    success: function(){
                        location.reload();
                    }
                })
            })

            $("#unlike").click((e) => {
                /*<![CDATA[*/
                var userId = [[${userId}]];
                /*]]>*/

                $.ajax({
                    type:"POST",
                    url: location.pathname + "/unlike",
                    data:{
                        likeUser : userId
                    },
                    success: function(){
                        location.reload();
                    }
                })
            })
        });

    </script>
</head>
<body>
<h1>글 </h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<div>
    <h2>제목: <span th:text="${articleDto.title}"></span></h2>
    <div th:if="${#strings.equals(userId, articleDto.getMember().getUserId())}" class="clearfix">
        <div style="float: right">
            <a th:href="@{edit(id=${id})}">수정</a>
        </div>
    </div>
    <div th:utext="${articleDto.contents}">
    </div>

<!--    <div>-->
<!--        <form id="submitForm" method="post">-->
<!--            <input type="hidden" name="id" th:value="${detail.id}"/>-->
<!--            <a href="/course">글 목록</a>-->
<!--        </form>-->
<!--    </div>-->

    <button id="like">추천 <span th:text="${likeUnlike.getLike()}"></span></button>
    <button id="unlike">비추천 <span th:text="${likeUnlike.getUnlike()}"></button>

    <div id="comment" class="clearfix">
        <div>
            <form method="post">
                <div class="comment-left">덧글 쓰기</div>
                <textarea class="write-comment" name = "commentText" id = "text" cols = "30" rows = "10"></textarea>
                <button type="submit">댓글 작성</button>
            </form>
        </div>
    </div>

    <div th:each="x : ${comments}" style="border: solid 1px black">
        <form action = "deleteComment" method="post">
            <div class="clearfix">
                <div th:text="${x.userName}" style="float: left"></div>
                <div th:text="${x.regDt}" style="float: right"></div>
            </div>
            <div th:text="${x.commentText}" style="height: 70px; border-top: solid 1px black; box-sizing: border-box"></div>
            <button th:if="${x.userName == userId}">덧글 삭제</button>
            <input th:value="${x.id}" type = "hidden" name="commentId">
        </form>
    </div>
</div>
</body>
</html>
